.carousel {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
}

.carousel img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.carousel .horizontal {
  height: auto;
  max-width: 91%;
}

.carousel .horizontal1 {
  height: auto;
  max-width: 89%;
}

main {
  display: grid;
  grid-area: mn;

  grid-template-areas:
    "p1 div"
    " .div";
}

.p1 {
  grid-area: p1;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: black;
  width: 20rem;
  margin: auto 2rem;
}

.carousel {
  grid-area: div;
}

#video {
  /* position: relative;
  width: 58vw;
  height: 32.6vw; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#videoScr {
  width: 60%;
}
/* 
@media only screen and (max-width: 430px) {
  .carousel img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
    height: auto;
  }
} */

@media only screen and (max-width: 700px) {
  .carousel img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
  }

  .carousel .horizontal {
    max-width: 227%;
    height: auto;
  }
  .carousel .horizontal1 {
    height: auto;
    max-width: 223%;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  main {
    display: grid;
    grid-template-areas:
      "h1 h1 h1"
      "p1 . ."
      "div div div";
  }

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .carousel .horizontal,
  .carousel .horizontal1 {
    max-width: 100%;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  main {
    display: grid;
    grid-template-areas:
      "h1 h1 h1"
      "p1 . ."
      "div div div";
  }

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .carousel .horizontal,
  .carousel .horizontal1 {
    max-width: 100%;
  }
  .carousel img {
    max-width: 80%;
  }
}
